/* Estilos para o formulário */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right top,  #9ad8d2, #486766);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#btnAutenticar {
    background-color: #acb3b1;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 150px;

}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 14px;
}

.success,
.blocked,
.distance-error {
    font-size: 14px;
    font-weight: bold;
    display: none;
}

.success {
    color: green;
}

.blocked,
.distance-error {
    color: red;
}