@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(#003B71,#1764ac);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.822);
    padding-right: 30px;
}

#btnAutenticar {
    background-color: #FF1048;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 150px;
}

#btnAutenticar:hover{
    background: #fa2758;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #073c7e;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 14px;
}

.success,
.blocked,
.distance-error {
    font-size: 14px;
    font-weight: bold;
    display: none;
}

.success {
    color: green;
}

.blocked,
.distance-error {
    color: red;
}